<%= f.input :name, :label => I18n.t('services.name') %><span id="name_errors" class="error_messages" style="display: none;"></span>
<%= f.input :duration, :label => I18n.t('services.duration') %><span id="duration_errors" class="error_messages" style="display: none;"></span>
