<div class="span6 well">
	<%= simple_form_for(@service) do |f| %>
	  <div class="form-inputs">
			<%= render :partial => 'form_inputs', :locals => { :f => f } %>
	  </div>
	  <div class="form-actions">
	  	<%= link_to I18n.t('back'), services_path, :class => 'btn btn-secondary' %>
	    <%= f.button :submit, I18n.t('update'), :class => 'btn btn-success' %>
	  </div>
	<% end %>
</div>
