<%= f.input :name, :label => I18n.t('staff_members.name') %><span id="name_errors" class="error_messages" style="display: none;"></span>
<%= f.input :colour, :label => I18n.t('staff_members.colour'), :input_html => { :type => :color } %><span id="colour_errors" class="error_messages" style="display: none;"></span>
