<%= render 'layouts/sub_navigation' %>

<div class="container-fluid">
	<div class="row">
		<%= render 'form' %>
	</div>
	<div class="row">
		<%= link_to I18n.t('back'), staff_members_path, :class => 'btn btn-secondary' %>
	</div>
</div>
