<div class="row">
	<div class="span3 pull-left default-right-margin-50">
		<%= f.input :first_name, :required => true, :label => I18n.t('customers.first_name'), :input_html => { :name => "customers[][first_name]" } %>
	</div>
	<div class="span3 pull-left default-right-margin-50">
		<%= f.input :last_name, :required => true, :label => I18n.t('customers.last_name'), :input_html => { :name => "customers[][last_name]" } %>
	</div>
	<div class="span3 pull-left default-right-margin-50">
		<%= f.input :email, :label => I18n.t('customers.email'), :input_html => { :name => "customers[][email]" } %>
	</div>
	<div class="span3 pull-left default-right-margin-50">
		<%= f.input :mobile_phone, :label => I18n.t('customers.mobile_phone'), :input_html => { :name => "customers[][mobile_phone]" } %>
	</div>
</div>
