// Place all the styles related to the StaffMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colorpicker {
	min-width: 120px;
	width: 120px;
	padding: 4px;
}