<h4><%= I18n.t('appointments.embed_code') %></h4>
<form class="bs-docs-example form-inline">
	<textarea rows="5"><iframe src="<%= url %>"></iframe></textarea>
	<p class="muted"><small><%= I18n.t('appointments.copy') %></small></p>
</form>
